
#favorites {
    background: rgba(0,0,0,0.4);
    position: absolute;
    height: 200px;
    width: 100px;
    padding: 5px;
    right: 0px;
    top: 100px;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
#sfMain {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
#main {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
#main .box {
    /* Required only for block elements like <li>'s */
    float: left;
}
